body {
    background: linear-gradient( to right bottom, black, red, green, yellow);
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: black;
    color: lightgreen;
    padding: 10px;
}

footer {
    background: linear-gradient( to left, red, orange, yellow, green, blue, navy, purple); 
    color: LightGreen; 
    padding: 10px; 
    text-align: right;
}

a {
    color:green
}

a:visited {
    color:blanchedalmond;
    }

a:hover {
    color:red;
    text-decoration:underline;
    background-color:white;
    font-weight: bold;
}

a;:active {
    color: pink;
    background-color: green;
}
